@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex justify-content-center">
    <h1> Bella pizzeria </h1>
</div>

<div class="d-flex justify-content-center gap-2">
    <div class="card">
        <img src="~/img/top-view-pizza-margherita-23174892.jpg" class="card-img-top" alt="Immagine pizza">
        <div class="card-body">
            <h5 class="card-title">Margherita</h5>
            <p class="card-text">La classica pizza italiana con pomodoro, mozzarella e basilico.</p>
            <h5>&euro; 4.50 </h5>
        </div>
    </div>

    <div class="card">
        <img src="~/img/diavola.jpg" class="card-img-top" alt="Immagine pizza">
        <div class="card-body">
            <h5 class="card-title">Diavola</h5>
            <p class="card-text">La classica pizza italiana con pomodoro, mozzarella salame piccante.</p>
            <h5>&euro; 6.50 </h5>
        </div>
    </div>

    <div class="card">
        <img src="~/img/nonnachepizza__0020_bufala-e-pachino.jpg" class="card-img-top" alt="Immagine pizza">
        <div class="card-body">
            <h5 class="card-title">Bufala</h5>
            <p class="card-text">La classica pizza italiana con pomodoro, mozzarella di bufala e basilico.</p>
            <h5>&euro; 7.50 </h5>
        </div>
    </div>

</div>

